<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h2>这是一个登陆页面</h2>

    <h3><%=msg%></h3>

    <ul>
      <%for(var i=0;i < tlist.length; i ++){%>
      <li><%=tlist[i].title%></li>
      <%}%>
    </ul>
  </body>
</html>
